html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button {
  background-color: #efefef;
  border: none;
  color: #545454;
  padding: 10px 10px;
  text-family: font;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}
